@font-face {
  font-display: swap; 
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-flex-v30-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto Serif';
  font-style: bold;
  font-weight: 600;
  src: url('/fonts/roboto-serif-v16-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-mono-v30-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2');
}

body, div { 
    font-family: "Roboto Flex", sans-serif; 
    text-align: left;
}

h1, h2, h3, h4, h5, h6, .navbar-brand { font-family: "Roboto Serif", serif; }

.theme-image {
    position: fixed;
    bottom: 5px;
    right: 5px; /* Change `left` to `right` and use a fixed unit */
    z-index: 1000; /* Ensure the image is always on top */
    max-width: 8%;
    height: auto;
}


[data-bs-theme="light"] body .dark-mode-image {
  display: none;
}

[data-bs-theme="dark"] body .light-mode-image {
  display: none;
}